{% extends 'base.html.twig' %}
{% block title %} Feacell's Drawings {% endblock %}
{% block body %}
    <h1>Feacell's Drawings</h1>
    {% for drawing in drawings %}
        <a href="{{ path('drawing',{'id':drawing.id}) }}">
            <h1>{{ drawing.title }}</h1>
            <img src="{{ vich_uploader_asset(drawing) }}" alt="{{ drawing.title }}">
            <p>{{ drawing.medium }}</p>
        </a>
    {% endfor %}
{% endblock %}