{% extends 'base.html.twig' %}
{% block title %} {{ drawing.title }} {% endblock %}
{% block body %}
    <h1>{{ drawing.title }}</h1>
    <img src="{{ vich_uploader_asset(drawing) }}" alt="{{ drawing.title }}">
    <p>{{ drawing.medium }}</p>
{% endblock %}